:root{
    --main-blue-color: rgb(12, 137, 240);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("kepek/hatter.jpg");
    
}

.container{
    max-width: 70vw;
    min-height: 70vh;
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 2px;
}

header{
    background-image: url("kepek/fejlec.jpg");
    text-align: center;
    min-height: 13vh;
    color: white;
    padding-top: 70px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav{
    padding-top: 10px;
    display: grid;
    gap: 2px;
   
}

nav a{
    text-decoration: none;
    color: white;
    background-color: var(--main-blue-color);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding: 5px 0 5px 0;
}