:root{
    --main-blue-color: rgb(12, 137, 240);
    --border-color:rgb(202, 198, 198);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("kepek/hatter.jpg");
    
}

.container{
    max-width: 1080px;
    min-height: 900pxvh;
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 2px;
}

header{
    background-image: url("kepek/fejlec.jpg");
    text-align: center;
    min-height: 13vh;
    color: white;
    padding-top: 70px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav, aside{
    display: grid;
    padding: 16px;
    gap: 8px;
    height: fit-content;
}

nav a{
    text-decoration: none;
    color: white;
    background-color: var(--main-blue-color);
    display: block;
    height: fit-content;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

section div{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    min-height: 300px;
    margin: 10px 0 10px 0;
} 

img{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    border: 1px solid var(--border-color);
    object-fit: cover;
    padding: 5px 5px 25px 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.grid-kepek2{
    margin-top: 20px;
}

aside{
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

aside h2{
    padding-top: 15px;
}

aside p{
    text-align: justify;
}

aside a{
    padding-top: 15px;
}



footer{
    background-color: var(--main-blue-color);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}